<div id="about-me" class="circle">
  <img class="ellipse" src="./assets/img/bubble.svg" alt="" />
</div>
<section>
  <div class="left-side in-view">
    <h1>{{ "ABOUTME.workTogether" | translate }}</h1>
  </div>

  <div class="right-side in-view">
    <!-- <img class="ellipse-small" src="./assets/img/ellipse.png" alt="" /> -->
    <p>{{ "ABOUTME.workTogetherText1" | translate }}</p>
    <p>{{ "ABOUTME.workTogetherText2" | translate }}</p>
    <p>{{ "ABOUTME.workTogetherText3" | translate }}</p>
    <p>{{ "ABOUTME.workTogetherText4" | translate }}</p>
    <button class="btn" (click)="goToContact()">{{ 'ABOUTME.send' | translate }}</button>
  </div>
</section>
