@import "./../../../styles.scss";

.circle {
 
  display: flex;
  justify-content: center;
  > img {
    width: 206px;
    z-index: 90;
    position: absolute;
    top: 93%;
  }
}

section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;

}

.left-side {
  width: 50%;
  z-index: 200;
  > p {
    color: $blue;
    font-family: "Baloo 2" !important;
    font-weight: 800;
    font-size: 100px;
    line-height: 110px;
    letter-spacing: 1px;
  }
}

.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-left: 180px;
  > img {
    width: 82px;
    height: 82px;
  }
  > p {
    line-height: 27px;
  }
}

@media only screen and (max-width: 1460px) {
  .left-side {
    > p {
      font-size: 80px;
      letter-spacing: 0;
    }
  }
}

@media only screen and (max-width: 1160px) {
  section {
    flex-direction: column;
    padding: 50px;
  }
  .left-side {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    > p {
      font-size: 64px;
      line-height: 80px;
    }
  }
  .right-side {
    margin-left: 0;
    width: 100%;
    align-items: center;
    gap: 50px;
  }
}

@media only screen and (max-width: 570px) {
  section {
    padding: 20px;
  }
  .left-side {
    > p {
      font-size: 45px;
      letter-spacing: 0;
      line-height: 54px;
    }
  }
  .right-side {
    margin-bottom: 50px;
    > p {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 430px) {
  section {
    padding: 50px 20px 0 20px;
  }
  .left-side {
    > p {
      font-size: 30px;
      line-height: 52px;
    }
  }
}
@media only screen and (max-width: 380px) {
 .right-side {
  >button {
    font-size: 18px;
    padding: 10px 15px;
  }
 }
}