@import './../../../styles.scss';

.circle {
    display: flex;
    justify-content: center;
    >img {
        width: 206px;
        z-index: 100;
        position: absolute;
        top: 1100px;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: 90px;
    margin: 90px;
}

.left-side {
    width: 50%;
    >p {
     
        color: $blue;
        font-family: 'Baloo 2' !important;
        font-weight: 800;
        font-size: 121px;
        line-height: 130px;
        letter-spacing: 1px;
    }
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-left: 180px;
    >img {
        width: 82px;
        height: 82px;
    }
    >p {
        line-height: 27px;
    }
}