<section id="my-skills">
<h2>{{ "MYSKILLS.mySkills" | translate }}</h2>
<div class="tech-stack-content">

    <div class="tech-stack-first-row">
        <div class="tech-stack-icon">
            <img src="./assets/img/Angular.svg" alt="angular">
            <p>Angular</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/Typescript.svg" alt="TypeScript">
            <p>TypeScript</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/JavScript.svg" alt="JavaScript">
            <p>JavaScript</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/html.svg" alt="html">
            <p>HTML</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/Scrum.svg" alt="scrum">
            <p>Scrum</p>
        </div>
    <!-- </div> -->

    <!-- <div class="tech-stack-second-row"> -->
        <div class="tech-stack-icon">
            <img src="./assets/img/Firebase.svg" alt="firebase">
            <p>Firebase</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/Git.svg" alt="git">
            <p>GIT</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/css.svg" alt="css">
            <p>CSS</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/Api.svg" alt="Rest-Api">
            <p>Rest-Api</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/Material-design.svg" alt="Material Design">
            <p>Material Design</p>
        </div>
        <div class="tech-stack-icon">
            <img src="./assets/img/Wordpress.svg" alt="Wordpress">
            <p>Wordpress</p>
        </div>
    </div>

</div>
</section>
