@import "./../../../styles.scss";

nav {
  width: 100%;
  height: 117px;
  background-color: transparent;
  overflow: hidden;
  font-family: "Montserrat";
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  z-index: 800;
  > img {
    width: 64px;
    height: 64px;
    margin-left: 5px;
    z-index: 800;
  }

  > div {
    width: 80%;
    height: 68px;
    display: flex;
    justify-content: flex-end;
    z-index: 800;
    > a {
      max-width: 150px;
        &:hover {
          font-weight: 600;
          transform: scale(1.2);        
      }
      }
    }
  }
  .burger-menu {
    display: none;
  }

  a {
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
    color: $blue;
    margin-inline: 20px;
    transition: all 0.1s;
  }

.link-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

  .mat-button-toggle-group-appearance-standard:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border-radius: 30px;
    height: 48px;
}

.popup_background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;

  .popup {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 1200;
    >img {
      width: 64px;
      height: 64px;
      z-index: 1200;
      position: absolute;
      top: 250px;
    }
    .link_container_mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-direction: column;
      margin-right: 0;
      font-family: "Montserrat";
      font-size: 23px;
      >img {
        width: 46px;
        height: 46px;
        z-index: 1200;
      }
      > a {
        color: $blue;
        &:hover {
          transform: scale(1.2);
        }
      }
      > div {
        a {
          color: $blue;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.logo-blue {
  width: 64px;
}

@media only screen and (max-width: 1190px) {
  nav {
    > div {
      a {
        margin-inline: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1063px) {
  nav {
    justify-content: space-between;
    #myLinks {
      display: none;
    }
    .burger-menu {
      display: block;
      z-index: 800;
    }
  }
}
