<nav>
   <img [src]="logoUrl" alt="logo">
  <div class="link-container" id="myLinks">
    <div>
      <a href="#about-me">{{ "HEADER.aboutMe" | translate }}</a>
      <a href="#my-skills">{{ "HEADER.skillSet" | translate }}</a>
      <a href="#my-projects">{{ "HEADER.myWork" | translate }}</a>
    </div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="DE" (click)="translate.switchLanguage('de')">DE</mat-button-toggle>
      <mat-button-toggle value="EN" (click)="translate.switchLanguage('en')">EN</mat-button-toggle>
      <mat-button-toggle value="PL" (click)="translate.switchLanguage('pl')">PL</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <a class="burger-menu" (click)="toggleMenu(); changeLogo()"><img src="./assets/img/mobile-menu.svg"/></a>

</nav>
@if (open) {
    <div class="popup_background">
      <div class="popup">
        <div class="link_container_mobile">
          <img (click)="closeMenu(); changeLogo()" src="./assets/img/close-btn.svg" alt="">
          <a href="#about-me" (click)="closeMenu(); changeLogo()">{{
            "HEADER.aboutMe" | translate
          }}</a>
          <a href="#my-skills" (click)="closeMenu(); changeLogo()">{{
            "HEADER.skillSet" | translate
          }}</a>
          <a href="#my-projects" (click)="closeMenu(); changeLogo()">{{
            "HEADER.myWork" | translate
          }}</a>
          <a href="#contact" (click)="closeMenu(); changeLogo()">{{
            "HEADER.contact" | translate
          }}</a>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="DE" (click)="translate.switchLanguage('de')">DE</mat-button-toggle>
            <mat-button-toggle value="EN" (click)="translate.switchLanguage('en')">EN</mat-button-toggle>
            <mat-button-toggle value="PL" (click)="translate.switchLanguage('pl')">PL</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
    }
