<nav>
   <img [src]="logoUrl" alt="logo">
  <div id="myLinks">
    <a href="#about-me">{{ "HEADER.aboutMe" | translate }}</a>
    <a href="#my-skills">{{ "HEADER.skillSet" | translate }}</a>
    <a href="#my-projects">{{ "HEADER.myWork" | translate }}</a>
    <a class="switchLanguage" (click)="translate.switchLanguage('de')">DE</a>|
    <a class="switchLanguage" (click)="translate.switchLanguage('en')">EN</a>|
    <a class="switchLanguage" (click)="translate.switchLanguage('pl')">PL</a>
  </div>
  <a class="burger-menu" (click)="toggleMenu(); changeLogo()"><img src="./assets/img/mobile-menu.svg"/></a>

</nav>
@if (open) {
    <div class="popup_background">
      <div class="popup">
        <div class="link_container_mobile">
          <img (click)="closeMenu(); changeLogo()" src="./assets/img/close-btn.svg" alt="">
          <a href="#about-me" (click)="closeMenu(); changeLogo()">{{
            "HEADER.aboutMe" | translate
          }}</a>
          <a href="#my-skills" (click)="closeMenu(); changeLogo()">{{
            "HEADER.skillSet" | translate
          }}</a>
          <a href="#my-projects" (click)="closeMenu(); changeLogo()">{{
            "HEADER.myWork" | translate
          }}</a>
          <a href="#contact" (click)="closeMenu(); changeLogo()">{{
            "HEADER.contact" | translate
          }}</a>
          <div>
           <a class="switchLanguage" (click)="translate.switchLanguage('de')">DE</a> |
          <a class="switchLanguage" (click)="translate.switchLanguage('en')">EN</a> |
          <a class="switchLanguage" (click)="translate.switchLanguage('pl')">PL</a>
          </div>
        </div>
      </div>
    </div>
    }
