@import "./../../styles.scss";

div {
  max-width: 1440px;
  margin: 0 auto;
    >img {
        width: 100px;
        padding: 100px 50px 0px 100px;
    }
}
section {
  padding: 100px;
  max-width: 1440px;
  margin: 0 auto;
  > h1 {
    font-family: "Baloo 2";
    font-size: 64px;
    line-height: 68px;
    font-weight: 800;
    letter-spacing: 1px;
    color: $blue;
    margin-bottom: 30px;
  }
  >a {
    >img {
        transform: rotate(-90deg);
        margin-bottom: 20px;
    }
  }
  > h2 {
    font-size: 27px;
    line-height: 37px;
    font-weight: 600;
  }
  > h3 {
    font-size: 20px;
    line-height: 30px;
  }
  > h4 {
    font-size: 18px;
    line-height: 28px;
  }
  > p {
    font-size: 16px;
  }
  > ul {
    > li {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 720px) {
    section {
        padding: 50px;
        > h1 {
            font-size: 46px;
            line-height: 48px;
        }
    }
}
@media only screen and (max-width: 720px) {
    section {
        padding: 20px;
        > h1 {
            font-size: 38px;
            line-height: 40px;
        }
    }
}