<app-navbar></app-navbar>
<div id="start">
  <img src="./assets/img/logo-blue.svg" alt="">
</div>
<section>
  <h1>{{ "LEGAL.titel" | translate}}</h1>
  <a [routerLink]="['/']" routerLinkActive="router-link-active"><img src="./assets/img/go-up-btn.svg" /></a>
  <p>
    Alicja Kwiaton<br />
    Joseph-Neumayer Str 45a<br />
    67657 Kaiserslautern
  </p>
  <br />

  <h2>{{ "HEADER.contact" | translate}}</h2>
  <p>
    Telefon: +49 176 66886884<br />
    E-Mail: mail&#64;alicja-kwiaton.de
  </p>
  <br />

  <h2>1. {{ "LEGAL.numberOne" | translate}}</h2>
  <br />
  <h3>{{ "LEGAL.numberOneHeadline1" | translate}}</h3>
  <p>{{ "LEGAL.numberOneHeadline1Text" | translate}}</p>
  <br />
  <h3>{{ "LEGAL.numberOneHeadline2" | translate}}</h3><br />
  <h4>
    {{ "LEGAL.numberOneHeadline3" | translate}}
  </h4>
  <p>
    {{ "LEGAL.numberOneHeadline3Text" | translate}}
  </p><br />
  <h4>{{ "LEGAL.numberOneHeadline4" | translate}}</h4>
  <p>
    {{ "LEGAL.numberOneHeadlineText" | translate}}
  </p>
  <br />
  <h4>{{ "LEGAL.numberOneHeadline5" | translate}}</h4>
  <p>
    {{ "LEGAL.numberOneHeadline5Text" | translate}}
  </p><br />
  <h4>{{ "LEGAL.numberOneHeadline6" | translate}}</h4>
  <p>{{ "LEGAL.numberOneHeadline6Text" | translate}}</p>
  <br />
  <h2>2. Hosting</h2>
  <br />
  <p>{{ "LEGAL.numberTwo" | translate}}</p>
  <br />
  <h3>{{ "LEGAL.numberTwoHeadline1" | translate}}</h3>
  <p>
    {{ "LEGAL.numberTwoHeadline1Text" | translate}}</p><br>
  <p>
    SiteGround Spain S.L.<br />
    Calle de Prim 19, <br />
    28004 Madrid,<br />
    Spain
  </p><br />
  <h4>{{ "LEGAL.numberTwoHeadline2" | translate }}</h4>
  <p>
    {{ "LEGAL.numberTwoHeadline2Text" | translate }}
  </p>
  <br />
  <h2>3. {{ "LEGAL.numberThreeHeadline" | translate }}</h2>
  <br />
  <h3>{{ "LEGAL.numberThreeHeadline1" | translate }}</h3>
  <p>
    {{ "LEGAL.numberThreeHeadline1Text" | translate }}
  </p>
  <br />
  <h3>{{ "LEGAL.numberThreeHeadline2" | translate }}</h3>
  <p>
    {{ "LEGAL.numberThreeHeadline2Text" | translate }}
  </p>
  <p>
    Alicja Kwiaton<br />
    Joseph-Neumayer-Str. 45a<br />
    67657 Kaiserslautern
  </p>

  <p>
    Telefon: +49 176 66886884<br />
    E-Mail: mail&#64;alicja-kwiaton.de
  </p>
  <p>
    {{ "LEGAL.numberThreeHeadline2Text2" | translate }}
  </p>  <br />

  <h3>{{ "LEGAL.numberThreeHeadline3" | translate }}</h3>

  <p>
    {{ "LEGAL.numberThreeHeadline3Text" | translate }}
  </p>
  <h3>
    {{ "LEGAL.numberThreeHeadline4" | translate }}
  </h3>
  <p>
    {{ "LEGAL.numberThreeHeadline4Text" | translate }}
  </p>
  <h3>{{ "LEGAL.numberThreeHeadline5" | translate }}</h3>
  <p>
    {{ "LEGAL.numberThreeHeadline5" | translate }}
  </p>
  <h3>{{ "LEGAL.numberThreeHeadline6" | translate }}</h3>
  <p>
    {{ "LEGAL.numberThreeHeadline6Text" | translate }}
  </p>
  <h3>
    {{ "LEGAL.numberThreeHeadline7" | translate }}
  </h3>
  <p>
    {{ "LEGAL.numberThreeHeadline7Text" | translate }}
  </p>
  <h3>
    {{ "LEGAL.numberThreeHeadline8" | translate }}
  </h3>
  <p>
    {{ "LEGAL.numberThreeHeadline8Text" | translate }}
  </p>
  <h3>{{ "LEGAL.numberThreeHeadline9" | translate }}</h3>
  <p>
    {{ "LEGAL.numberThreeHeadline9Text" | translate }}
  </p>
  <h3>{{ "LEGAL.numberThreeHeadline10" | translate }}</h3>
  <p>
    {{ "LEGAL.numberThreeHeadline10Text" | translate }}
  </p>
  <h3>{{ "LEGAL.numberThreeHeadline11" | translate }}</h3>
  <p>
    {{ "LEGAL.numberThreeHeadline11Text" | translate }}
  </p>
  <h3>{{ "LEGAL.numberThreeHeadline12" | translate }}</h3>
  <p>
    {{ "LEGAL.numberThreeHeadline12Text" | translate }}
  </p>
</section>
<app-footer></app-footer>
