@import "./../../../styles.scss";

.landingpage-content {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(234, 240, 255, 1)
  );
}
.header-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: fixed;
  right: 0;
  width: 100%;
  height: 117px;
  z-index: 800;
}



.content-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.photo-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.photo-wrapper {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  > img {
    position: absolute;
    left: 0;
    right: 300px;
    bottom: 0;
    height: 900px;
    width: auto;
    object-fit: cover;
    margin-right: 350px;
  }
}

.developer-text {
  position: relative;
  color: $blue;
  font-family: "Baloo 2";
  font-size: 128px;
  font-weight: 800;
  line-height: 128px;
  z-index: 10;
}

h2 {
  color: $blue;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  position: relative;
  z-index: 1;
  margin: 6px;
}
.ellipse {
  width: 60%;
  height: auto;
  position: absolute;
  left: -240px;
  top: -380px;
  z-index: 1;
  transform: rotate(180deg);
  animation: grow 1s ease-in-out forwards;
}

@keyframes grow {
  0% {
    transform: scale(0) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}

.headline-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  .slide-in {
    color: #5988ff;
    font-size: 28px;
    font-weight: 500;
    margin: 6px;
    position: relative;
    z-index: 10;
    animation: slideIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 12px;
  > p {
    color: $blue;
    font-size: 28px;
    font-weight: 500;
  }
}

.social-icons {
  height: 280px;
  width: 50%;
  margin-left: 50%;
  border-left: 2px solid $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 35px;
  z-index: 20;
  > a {
    transition: transform 0.3s ease;
    > img {
      width: 45px;
      height: auto;
      margin-right: 30px;
    }
    &:hover {
      cursor: pointer;
      transform: translateX(-20px);
    }
  }
}

@media only screen and (max-width: 1460px) {
  .developer-text {
    font-size: 96px;
    line-height: 96px;
  }
  h2 {
    font-size: 64px;
    line-height: 64px;
  }
}
@media only screen and (max-width: 1185px) {
  .photo-wrapper {
    > img {
      // height: 700px;
      margin-right: 250px;
    }
  }
  .ellipse {
    width: 70%;
  }
}

@media only screen and (max-width: 1060px) {
  .developer-text {
    font-size: 73px;
    line-height: 73px;
  }
  .headline-content {
    .slide-in {
      font-size: 36px;
      line-height: 40px;
    }
  }
  .photo-wrapper {
    > img {
      height: 700px;
      margin-right: 100px;
    }
  }
  .ellipse {
    width: 90%;
  }
}

@media only screen and (max-width: 950px) {
  .text-wrapper {
    margin-bottom: 80px;
    .developer-text {
      font-size: 64px;
      line-height: 60px;
      > p {
        margin: 0 0 0;
        font-size: 50px;
        line-height: 52px;
      }
    }
    .slide-in {
      font-size: 24px;
    }
    h2 {
      font-size: 50px;
    }
  }

}
@media only screen and (max-width: 690px) {
  .developer-text {
    color: white;
  }
  .headline-content {
    .slide-in {
      color: white;
    }
  }
  h2 {
    color: white;
  }
  .photo-wrapper {
    right: 0;
    > img {
      height: 700px;
      margin-right: 0;
    }
  }
  .scroll {
    > p {
      display: none;
    }
  }
  .social-icons {
    display: none;
  }
  .headline-content {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 10px;
    .slide-in {
      margin: 0 4px;
    }
  }

  .ellipse {
    width: 140%;
    left: -280px;
    top: -180px;
  }
}

@media only screen and (max-width: 566px) {
  .ellipse {
    width: 145%;
    left: -260px;
    top: -160px;
  }
  .headline-content {
    .slide-in {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 502px) {
  .text-wrapper {
    h2 {
      font-size: 28px;
      line-height: 32px;
    }

    .developer-text {
    font-size: 50px;
    line-height: 50px;
    }

  }
  .headline-content {
    margin-top: 100px;
  }
  .ellipse {
    width: 150%;
    left: -260px;
    top: -160px;
  }
}

@media only screen and (max-width: 480px) {
  .photo-wrapper {
    > img {
      height: 600px;
      width: auto;
    }
  }
}
@media only screen and (max-width: 416px) {
  .photo-wrapper {
    > img {
      height: 480px;
      width: auto;
    }
  }
  .ellipse {
    width: 160%;
    left: -260px;
    top: -160px;
  }
  .headline-content {
    .slide-in {
      font-size: 18px;
      display: block;
      width: 80%;
    }
    .developer-text {
      font-size: 40px;
      line-height: 42px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .ellipse {
    width: 160%;
    left: -260px;
    top: -160px;
  }
}

@media only screen and (max-width: 350px) {
  .photo-wrapper {
    > img {
      height: 420px;
      width: auto;
    }
  }

  .ellipse {
    width: 170%;
    left: -260px;
    top: -160px;
  }
}
