@import "./../../../styles.scss";

.landingpage-content {
 
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(234, 240, 255, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 1920px;
  height: 117px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.content-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.photo-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.photo-wrapper {
  position: absolute;
  top: 150px;
  left: 0;
  right: 300px;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  > img {
    height: 900px;
    width: auto;
    object-fit: cover;
    margin-right: 350px;
  }
}

h1 {
  color: $blue;
  font-family: "Baloo 2";
  font-size: 128px;
  font-weight: 800;
  line-height: 128px;
  z-index: 1;
}

h2 {
  color: $blue;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  position: relative;
  z-index: 1;
}
.ellipse {
  // width: 1400px;
  width: 60%;
  height: auto;
  position: absolute;
  left: -240px;
  top: -380px;
  z-index: 1;
}

.headline-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 30px;
}

.scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 12px;
  > p {
    color: $blue;
    font-size: 28px;
    font-weight: 500;
  }
}

.social-icons {
  height: 280px;
  width: 50%;
  margin-left: 50%;
  border-left: 2px solid $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 35px;
  z-index: 20;
  > a {
    transition: transform 0.3s ease;
    > img {
      width: 45px;
      height: auto;
      margin-right: 30px;
    }
    &:hover {
      cursor: pointer;
      transform: translateX(-20px);
    }
  }
}

@media only screen and (max-width: 1460px) {
  h1 {
    font-size: 96px;
    line-height: 96px;
  }
  h2 {
    font-size: 64px;
    line-height: 64px;
  }
}
@media only screen and (max-width: 1185px) {
 .photo-wrapper {
  >img {
    // height: 700px;
    margin-right: 250px;
  }
 }
 .ellipse {
  width: 70%;
 }
}

@media only screen and (max-width: 1060px) {
  h1 {
    font-size: 73px;
    line-height: 73px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .photo-wrapper {
   >img {
     height: 700px;
     margin-right: 100px;
   }
  }
  .ellipse {
    width: 90%;
   }
 }
 @media only screen and (max-width: 690px) {
  h1 {
   color: white;
  }
  h2 {
    color: white;
  }
  .photo-wrapper {
    right: 0;
   >img {
     height: 700px;
     margin-right: 0;
   }
  }
  .scroll {
    > p {
      display: none;
  }
}
  .social-icons {
    display: none;
  }
  .headline-content {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 150px;
    margin-left: 10px;

  }

  .ellipse {
    width: 140%;
    left: -280px;
    top: -180px;    
   }
 }

 @media only screen and (max-width: 566px) {
  .ellipse {
    width: 145%;
    left: -260px;
    top: -160px;    
   }
 }

 @media only screen and (max-width: 502px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .headline-content {
    margin-top: 100px;
  }
   .ellipse {
    width: 150%;
    left: -260px;
    top: -160px;    
   }

 }

 @media only screen and (max-width: 480px) {
  .photo-wrapper {
    top: 0;
    >img {
      height: 600px;
      width: auto;
    }
  }
 }
 @media only screen and (max-width: 416px) {
  .photo-wrapper {
    >img {
      height: 500px;
      width: auto;
    }
  }
  .ellipse {
    width: 160%;
    left: -260px;
    top: -160px;    
   }
 }

 @media only screen and (max-width: 375px) {
  .ellipse {
    width: 170%;
    left: -260px;
    top: -160px;    
   }
 }

 @media only screen and (max-width: 350px) {
  .headline-content {
    h1 {
      font-size: 40px;
    }
  }
  .ellipse {
    width: 180%;
    left: -260px;
    top: -160px;    
   }
 }