<div class="landingpage-content">
    <div class="header-wrapper">
        <app-navbar></app-navbar>
    </div>
  <section>
    <div class="content-wrapper" id="start">
      <div class="photo-content">
        <div class="photo-wrapper">
          <img src="./assets/img/img-me.png" alt="Alicja Kwiaton" />
        </div>
        <img class="ellipse" src="./assets/img/ellipse.svg" alt="" />
      </div>

      <div class="headline-content">
        <h2>Hallo! Ich bin Alicja</h2>
        <h1>FRONTEND<br />{{'developer' | translate }}</h1>

        
          <div class="scroll">
            <p>SCROLL</p>
            <!-- <img src="./assets/img/line-vertikal.png" alt=""> -->
          </div>

          <div class="social-icons">
            <a href="https://github.com/akwiaton" target="_blank"><img src="./assets/img/github-btn.png" alt="" /></a>
            <a href="#"><img src="./assets/img/email-btn.png" alt="" /></a>
            <a href="https://www.linkedin.com/in/alicja-kwiaton" target="_blank"> <img src="./assets/img/linkedin-btn.png" alt="" /></a>
           
          </div>

      </div>
    </div>
  </section>
</div>
