<section>
    <div class="my-work-headline">
        <h2>Meine Projekte</h2>
        <img src="./assets/img/ellipse.svg" alt="circle">
    </div>

    <div class="my-work-descrition">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolor commodi ducimus quia consequuntur iure enim vero, ipsam corrupti atque! Cupiditate optio consequuntur omnis natus quidem dignissimos expedita alias beatae.</p>
        <img src="./assets/img/ellipse.svg" alt="circle">
    </div>

</section>
