<section>
    <div class="my-work-headline">
        <h2>Meine Projekte</h2>
        <img src="./assets/img/ellipse.svg" alt="circle">
    </div>

    <div class="my-work-descrition">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolor commodi ducimus quia consequuntur iure enim vero, ipsam corrupti atque! Cupiditate optio consequuntur omnis natus quidem dignissimos expedita alias beatae.</p>
        <img src="./assets/img/ellipse.svg" alt="circle">
    </div>
@for (project of projects; track $index) {
    <div class="project-wrapper">
       <img src="{{ project.img }}" alt=""> 
        <div class="project-name">
           <p>{{ project.name }}</p> 
           <h2>{{ project.title }}</h2>
           <span> {{ project.description }}</span>
           
            <div class="project-links">
                <button>{{ project.projectLink }}</button>
                <button>{{ project.codeLink }}</button>
            </div>
        </div>
    </div>
}
</section>
