@import './../../../styles.scss';

section{
    padding: 100px;
}

.my-work-headline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    margin-bottom: 60px;
    >h2 {
        font-family: 'Baloo 2';
        font-size: 96px;
        font-weight: 800;
        letter-spacing: 1px;
        color: $blue;
    }
    >img {
        width: 108px;
        height: 108px;
        margin-bottom: 120px;
    }
}

.my-work-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >p{
        width: 50%;
    }
    >img {
        width: 183px;
        height: 183px;
    }
}

.project-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
    >div {
        width: 40%;
    }
    >img {
        width: 50%;
    }
}

.rowReverse {
    flex-direction: row-reverse;
    >p {
        text-align: end;
    }
    >h2 {
        text-align: end;
    }
    >span {
        text-align: end;
    }
    div {
        justify-content: flex-end;
    }
}

.project-name {

    >p {
        font-family: 'Baloo 2';
        font-size: 45px;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 54px;
        color: $blue;
    }
    >h2 {
        color: $blue;
        line-height: 27px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    >span {
        font-size: 18px;
        line-height: 21px;
    }
}

.project-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
    >button {
        margin-right: 30px;
    }
}