<section id="contact">
<h2>Kontakt</h2>

<div class="contact-content">

    <div class="contact-info">
        <h3>Wie kann ich helfen?</h3>
        <p>Ich freue mich auf spannende Kooperationsmöglichkeiten und innovative Projekte. Zögern Sie nicht, Kontakt aufzunehmen, um gemeinsam neue Wege zu entdecken!</p>
        <span>Brauchen Sie einen Frontend Developer? <b>Melden Sie sich!</b> </span>
    </div>

    <div class="contact-form">
        <form>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="E-Mail Adresse" />
            <textarea placeholder="Ihre Nachricht"></textarea>
            <div class="policy-confirmation">
                <input type="checkbox" />
                <label for="checkbox">Ich stimme der Verarbeitung meiner Daten zu.</label>
            </div>
            <div class="send-btn">
                <button type="button">Senden</button>
            </div>
        </form>
    </div>
</div>
</section>
