<section id="contact">
  <h2>{{ "CONTACT.contact" | translate }}</h2>

  <div class="contact-content">
    <div class="contact-info">
      <h3>{{ "CONTACT.contactHeadline" | translate }}</h3>
      <p>{{ "CONTACT.contactDescription" | translate }}</p>
      <span
        >{{ "CONTACT.contactUnderline" | translate }}
        <b>{{ "CONTACT.contactUnderlineBold" | translate }}</b></span
      >
      <div class="contact-info-under">
        <img src="./assets/img/ellipse.svg" />
      </div>
      <div class="contact-scroll-up">
        <a href="#start"
          ><img
            src="./assets/img/go-up-btn.svg"
            onmouseover="this.src='./assets/img/arrow-btn-trsp.svg'"
            onmouseout="this.src='./assets/img/go-up-btn.svg'"
        /></a>
      </div>
    </div>

    <div class="contact-form">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input
          #name="ngModel"
          name="name"
          [ngClass]="{ outline_red: !name.valid && name.touched }"
          minlength="3"
          [(ngModel)]="contactData.name"
        
          type="text"
          placeholder="Name"
          required
        />
        @if(!name.valid && name.touched && !message.disabled) {
        <div class="error-message">
          {{ "CONTACT.formErrorName" | translate }}
        </div>
        }
        <input
          #email="ngModel"
          name="email"
          [ngClass]="{ outline_red: !email.valid && email.touched }"
          [(ngModel)]="contactData.email"
          type="email"
          placeholder="Email"
          required
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$"
        />
        @if(!email.valid && email.touched) {
        <div class="error-message">
          {{ "CONTACT.formErrorEmail" | translate }}
        </div>
        }
        <textarea
          #message="ngModel"
          [ngClass]="{ outline_red: !message.valid && message.touched }"
          minlength="4"
          name="message"
          [(ngModel)]="contactData.message"
          placeholder="Message"
          required
        ></textarea>
        @if(!message.valid && message.touched) {
        <div class="error-message">
          {{ "CONTACT.formErrorMessage" | translate }}
        </div>
        }
        <div class="policy-confirmation">
          <div class="terms_container">
            <div (click)="togglePrivacyPolicy()">
              @if (!privacyPolicyChecked) {
              <img src="./assets/img/check_box_outline.svg" />
              } @else {
              <img src="./assets/img/check_box.svg" />
              }
            </div>
          </div>
          <div class="privat-policy-link" for="checkbox">
            {{ "CONTACT.contactForm" | translate }}
            <a
              [routerLink]="['/imprint']"
              routerLinkActive="router-link-active"
              >{{ "CONTACT.privatPolicy" | translate }}</a
            >
            {{ "CONTACT.contactFormEnd" | translate }}
          </div>
        </div>
        <div class="send-btn">
          @if (contactForm.valid && privacyPolicyChecked) {
          <button>{{ "CONTACT.formBtn" | translate }}</button>} @else {
          <button class="button-disbaled">
            {{ "CONTACT.formBtn" | translate }}</button
          >}
        </div>
      </form>
      <div class="contact-form-under">
        <img src="./assets/img/ellipse.svg" />
      </div>
    </div>
  </div>
</section>
