@import './../../../styles.scss';

section {
    height: 100%;
    padding: 100px;
    >h2 {
        font-family: 'Baloo 2';
        font-size: 96px;
        font-weight: 800;
        letter-spacing: 1px;
        color: $blue;
    }
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
}

.contact-info {
    width: 50%;
    >h3 {
        font-family: 'Baloo 2';
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 38px;
        color: $blue;
    }
    >p {
        margin: 32px 0 32px 0;
    }
    >span {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1px;
        color: $blue;
        >b {
            font-weight: 600;
        }
    }
}

.contact-form {
    width: 50%;
    >form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        >input, >textarea {
            width: 80%;
            height: 50px;
            border: 1px solid $blue;
            border-radius: 10px;
            padding: 0 20px;
        }
        >textarea {
            height: 200px;
            padding: 20px;
        }
    }
}

.policy-confirmation {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    >label {
        font-size: 16px;
        line-height: 18px;
    }
    >input {
        width: 24px;
        // border: 1px solid $blue !important;
        // border-radius: 10px;
    }
}

.send-btn {
    width: 85%;
    display: flex;
    justify-content: center;
}
