<footer>
    <div class="footer-content">

        <img src="./assets/img/logo.png" alt="">

        <div class="impressum-content">
            <p>© Alicja Kwiaton 2024</p>
            <a [routerLink]="['/imprint']" routerLinkActive="router-link-active">Impressum</a>
        </div>

        <div class="footer-social-icons">
            <img src="./assets/img/Github button.svg" alt="">
            <img src="./assets/img/Email button.svg" alt="">
            <img src="./assets/img/Linkedin button.svg" alt="">
        </div>


    </div>


</footer>