@import './../../../styles.scss';

footer {
    height: 100%;
    padding: 100px;
    background-color: $blue;
    background-image: linear-gradient(to right, rgba(89, 136, 255, 1),rgba(89, 136, 255, 1), rgba(0, 67, 240, 1));
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >img {
        width: 64px;
        height: auto;
    }
    >p {
        color: white;
    }
}

.footer-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    >img {
        width: 30px;
        height: auto;
    }
}