<footer>
  <div class="footer-content">
    <img src="./assets/img/logo.png" alt="" />
    <div class="impressum-content">
      <p>© Alicja Kwiaton 2024</p>
      <a [routerLink]="['/imprint']" routerLinkActive="router-link-active">Legal notice</a>
    </div>

    <div class="footer-social-icons">
      <a href="https://github.com/akwiaton" target="_blank"
        ><img src="./assets/img/Github button.svg"
      /></a>
      <a href="mailto:mail@alicja-kwiaton.de"><img src="./assets/img/Email button.svg" /></a>
      <a href="https://www.linkedin.com/in/alicja-kwiaton" target="_blank">
        <img src="./assets/img/Linkedin button.svg"/></a>
    </div>
  </div>
</footer>
